  html, body {
    height: 100%;
  }
  body {
  background: url('img/background-video.png');
  background-size: cover;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.is_overlay
{ display: block; width: 100%; height: 100%;
z-index: -100; 
}
#videoid
{
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}

#videoid > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

 @media (min-aspect-ratio: 16/9) {
     #videoid > video { height: 300%; top: -100%; }
 }
 @media (max-aspect-ratio: 16/9) {
     #videoid > video { width: 300%; left: -100%; }
 }
 /* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
 @supports (object-fit: cover) {
     #videoid > video {
         top: 0; left: 0;
         width: 100%; height: 100%;
         object-fit: cover;
     }
 }
 .logo_Garage_white {
  width: 69px;
  height: 31px;
  object-fit: contain;
  background-color: #ffffff;
  background-color: var(--white);
}
.header
{
  display: flex;
  width: 100%; height: 10%;

}
.line {
  width: 15px;
  height: 2px;
  margin: auto;
  background-color: white;
  padding: 0px;
  margin: 3px;

}
.logo
{
    margin:auto;
    display: flex;
    margin-top: 26px;
}
.line_wrapper{
display:flex;
flex-direction:column;
margin-right: 10px;
}
.lines
{
  margin: auto;
}
.oval {
 }

.mini_oval {
  width: 60px;
  height: 60px;
  border: solid 2px #ffffff;
 border-radius: 50%;
 margin: auto;
 display: flex;
}
.icon_arrow_right {
  width: 11px;
  height: 15.5px;
  object-fit: contain;
  border-radius: 3px;
  background-color: #ffffff;
  background-color: var(--white);
}
.icon_arrow_right:hover
{
  opacity: 0.4;
}
.icon_arrow_left {
  width: 11px;
  height: 15.5px;
  object-fit: contain;
  border-radius: 3px;
  background-color: #ffffff;
  background-color: var(--white);
}
.icon_arrow_left:hover{
  opacity: 0.4;
}
.arrows
{ 
height: 15.5px;
margin: auto;
}
.Creative-Production {
  width: 380px;
  height: 120px;
  font-family: MuseoSansRounded;
  font-size: 50px;

  line-height: 1.2;
  letter-spacing: 5px;
  color: #ffffff;
  top: 50%; /* Отступ в процентах от верхнего края окна */
  left: 24px; /* Отступ в процентах от левого края окна */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -60px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  
}

.brand-design-marketi {
  width: 426px;
  height: 120px;
  font-family: MuseoSansRounded;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: right;
  color: #ffffff;
  top: 50%; /* Отступ в процентах от верхнего края окна */
  right: 19px; /* Отступ в процентах от левого края окна */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -60px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
}


.content
{
    display: flex;
    height: 90%;


}

/*-----------------------------------*/

/* ВНЕШНИЙ БЛОК */
#panel {
    position: fixed; /* положение */
    top: 0; /* отступ сверху */
    left: 0; /* отступ слева */
    width: 20%; /* ширина блока */
    height: 100%; /* высота блока */    
    -webkit-transition-duration: 0.5s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    }

/* СКРЫТЫЙ БЛОК */
#hidden_panel {
    position: fixed; /* положение */
    top: 0; /* отступ сверху */
    left: -330px; /* отступ слева */
    background-color: #222222;
    color: #000; /* цвет текста */
    width: 330px; /* ширина блока */
    height: 100%; /* высота блока */
    -webkit-transition-duration: 0.5s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    }

#panel:hover {
    left: 330px; /* при наведении выдвигается на скрытые 200px + 20px отступы */
}
#panel:hover #hidden_panel {
    left: 0; /* отступ слева */
}
#panel:hover brand-design-marketi
{
  display:none;
}


/* ВНЕШНИЙ БЛОК */
#panel_right {
    position: fixed; /* положение */
    top: 0; /* отступ сверху */
    right: 0; /* отступ слева */
    width: 20%; /* ширина блока */
    height: 100%; /* высота блока */    
    -webkit-transition-duration: 0.5s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    }

/* СКРЫТЫЙ БЛОК */
#hidden_panel_right {
    position: fixed; /* положение */
    top: 0; /* отступ сверху */
    right: -330px; /* отступ слева */
    background-color: #222222;
    color: #000; /* цвет текста */
    width: 330px; /* ширина блока */
    height: 100%; /* высота блока */
    -webkit-transition-duration: 0.5s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    }

#panel_right:hover {
    right:  330px; /* при наведении выдвигается на скрытые 200px + 20px отступы */
}
#panel_right:hover #hidden_panel_right {
    right: 0; /* отступ слева */
}


#hid1, #hid2
{
   -webkit-transition-duration: 0.5s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#oval
{
 width: 144px;
  height: 144px;
  border: dashed 1px rgba(255, 255, 255, 0.2);;
  border-radius: 50%;
display: flex;
    top: 50%; /* Отступ в процентах от верхнего края окна */
  left: 50%; /* Отступ в процентах от левого края окна */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -72px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -72px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
-webkit-transition-duration: 0.5s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}